<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <img src="../../assets/images/logo.png" alt="Poodle Icon">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
                <input type="number" required placeholder="Width(CM)" [(ngModel)]="width">
            </li>
            <li class="nav-item">
                <input type="number" required placeholder="Height(CM)" [(ngModel)]="height">
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" (click)="setSize()">Set Size</a>
            </li>
        </ul>
    </div>
</nav>