<div class="container mx-auto my-auto">
  <h1 class="mx-auto"><a (click)="setTemplateNumber($event.target.innerText)">1</a></h1>
  <h1 class="mx-auto"><a (click)="setTemplateNumber($event.target.innerText)">2</a></h1>
  <h1 class="mx-auto"><a (click)="setTemplateNumber($event.target.innerText)">3</a></h1>
  <h1 class="mx-auto"><a (click)="setTemplateNumber($event.target.innerText)">4</a></h1>
  <h1 class="mx-auto"><a (click)="setTemplateNumber($event.target.innerText)">5</a></h1>
  <h1 class="mx-auto"><a (click)="setTemplateNumber($event.target.innerText)">6</a></h1>
  <h1 class="mx-auto"><a (click)="setTemplateNumber($event.target.innerText)">7</a></h1>
  <h1 class="mx-auto"><a (click)="setTemplateNumber($event.target.innerText)">8</a></h1>
</div>