<div class="container mx-auto my-auto">
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
    <h1 class="mx-auto">Template Selection</h1>
  </div>